.formulario {
    /* Sólo para centrar el formulario a la página */
    margin: 0 auto;
    width: 600px;
    height: 500px;
    float: center;
    /* Para ver el borde del formulario */
    padding: 1em;
    border: 5px double #CCC;
    border-radius: 1em;
    background: #E1BEE7;
}
.formulario div + div {
    margin-top: 1em;
    margin-left: 170px;
}
label {
    /* Para asegurarse que todos los labels tienen el mismo tamaño y están alineados correctamente */
    display: initial;
    width: 170px;
    text-align: left;
    font-size: 18px;
    font-style: verdana;
    font-family: verdana;

}
input, textarea {
    /* Para asegurarse de que todos los campos de texto tienen las mismas propiedades de fuente
       Por defecto, las areas de texto tienen una fuente con monospace */
    font: 1em sans-serif;
    width: 330px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #999;
    clear: right;
    float: right;
}
input:focus, textarea:focus {
    /* Para dar un pequeño destaque en elementos activos*/
    border-color: grey;
}
textarea {
    /* Para alinear campos de texto multilínea con sus labels */
    vertical-align: right;

    /* Para dar suficiente espacio para escribir texto */
    height: 5em;

    /* Para permitir a los usuarios cambiar el tamaño de cualquier textarea verticalmente
        No funciona en todos los navegadores */
    resize: vertical;
}
.boton {
    /* Para posicionar los botones a la misma posición que los campos de texto */
    padding-left: 100px; /* mismo tamaño a todos los elementos label */

    /* Este margen extra representa aproximadamente el mismo espacio que el espacio
       entre los labels y sus campos de texto */
    margin-left: .5em;
    width: 500px;
    margin-bottom: 1px;
    align-items: center;

}
h1{
 font-size: 38px;
 padding-left: 100px;   
}
img{
    max-width: 100%;
    vertical-align: left;
    display: inline-block;
}
#img_5ntar{
    width: 170px;
    margin-right: 1px;
    margin-left: 1px;
    float: left;
}
#img_5ntar img{
    width: 100px; 
}
select {
    width: 293px;
    
}
input[type="button"] {
    background-color: #FF5252;
    height: 50px;
    font-size: 30px;
    font-family: verdana;
    width: 200px;
    float: unset;
    margin-top: 10px;
    margin-left: 130px;
}
textarea#txt_descripcion {
    width: 600px;
    height: 120px;
    margin-top: 15px;
}
