/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #F8A8F7;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #6D3078;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  height: 70%;
  margin-top: 20px;
}

/* Padding for spacing */
.inner {
  padding: 2rem;

}


/*
 * Header
 */

.masthead {
  margin-bottom: 2rem;
   overflow: hidden;
  background-color: #513656;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  padding-right: 10px;
  font-weight: 20;
  color: #e1bee7;
  background-color: transparent;
  border-bottom: .25rem solid transparent;
  font-size: 25px;
  align-items: center;
  width: 100%;
  position: relative;
  right: 50%;
  border-right: 1px solid #bbb;
 
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255,255,255,.25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
  align-items: center;
  width: 100%;

}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
   margin-left: 45%;
}


/*
 * Footer
 */

.mastfoot {
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 40em) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }

  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }

  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 62em) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 42rem;
  }
}
.encabezado img{
  width: 45%;
  float: left;
  max-width: 70%;
  vertical-align: left;
  display: inline-block;
  border:10px;
  border-color: black;
  margin-right: 5%;
}
.encabezado h1{
  width: 100%;
  text-align: center;
  font-size: 5em;
  color: #e1bee7;
  margin-bottom: 0px;
}
.descripcion p{
  border-left: 20px;
  margin-left: 50px;
  text-align: center;
  line-height: normal;
  font-size: 18px;
  color: white;
  font-family: verdana;
  margin-bottom: 43px;
}
p.lead {
    margin-bottom: 20px;
}   
.btn-secondary{
  background-color: #FF5252;
  color: white;
  align-items: center;
  margin-left: 45px;
  margin-bottom: 0px;
  font-size: 26px;
  font-family: verdana;
  text-decoratione:none;

}
#linkdenuncia{
  color: red;

}
